body {
    font-family: "Indie Flower", cursive;
    font-family: "Pangolin", cursive;
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
    background: linear-gradient(112.1deg,
                rgb(32, 38, 57) 11.4%,
                rgb(63, 76, 119) 70.2%);
    border-radius: 10px;
}
.weather-app {
    padding: 20px;
    border: 2px solid rgb(63, 76, 119);
    border-radius: 10px;
}

h1,
h2,
h3 {
    color: #e7eaf6;
    margin: 10px;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0%;
    
}

























